doctype html
html
    head
        title=  title
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css")
        link(href="https://fonts.googleapis.com/css?family=Lato|Raleway", rel="stylesheet")
        link(rel="stylesheet", href="../../css/main.css")